*.sw?
*.o
.deps
depcomp
tags

pg_systat

# cmake

/_builds

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
*.tar.bz2
*.tar.gz
*.tar.xz
*.tar.Z
